<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Tailspin.SpaceGame.Web.Models1" value="https://pkgs.dev.azure.com/Tailspin0600/1ca60fa0-b76e-4166-92a5-42aa5ed81fef/_packaging/Tailspin.SpaceGame.Web.Models1/nuget/v3/index.json" />
  </packageSources>
</configuration>